/* ===== Initializr Styles ==================================================
   ========================================================================== */
html,body {
    font-family: 'Oswald', 'Helvetica', $fontFamily;
}

html {
    height: 100%;
    background : #F8F8F8;
}

body {
    background-color: #F8F8F8;
}

a {
    @include link-colors($linkColor, $linkColor_hover, $linkColor_active, $linkColor_visited, $linkColor_forcus);
}

button {
    @include appearance(none);
    border: none;
    background-color : transparent;
    &:focus {
        outline: none;
    }
}

select,
input,
button,
textarea {
    font-family: $fontFamily;
}

// Change the white to any color ;)
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}


/* ==============
    Grobal HEADER
   ============== */
#header-global {
    width: 100%;
    position: fixed;
    background-color: #FFF;
    margin-bottom: 0px;
    z-index: 1000;
    background-color: #000;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    #logo {
        // @include float(left);
        width: 0 auto;
        text-align: center;
        padding: 12px;
        display:block;
        background-color: #000;
        // border-bottom: 1px solid #000;
    }
}

#nav-global {
    @include clearfix;
    .navbar-nav {
        width: 55%;
        border: none;
        // border-bottom: 1px solid #eaeaea;
        li {
            position: relative;
            width: 25%;
            a {
                padding: 0px;
                display: block;
                font-family: 'Oswald', 'Helvetica', 'Arial', sans-serif;
                height: 54px;
                line-height: 54px;
                border-right: 1px solid #eaeaea;
                text-align: center;
            }
        }
    }
}

.bs-docs-header {
    padding-top: 80px;
}

/* ==============
    Contents
   ============== */
.contents {
    @extend .pie-clearfix;
    width : $main-width;
    margin : (30px - 6) auto 0;
}

.container {
    margin: 16px auto 40px auto;
    .news-list {
        border-radius: 3px;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
        background: #FFF;
    }
    .news-col {
        padding: 20px;
        border-bottom: 1px solid #E6E6E6;
        .news-col-date {
            font-size: 10px;
            letter-spacing: 2px;
        }
        a {
            @include clearfix;
            display: block;
        }
        img {
            float: left;
            margin: 0 20px 0 0;
            height: 152px;
            overflow: hidden;
        }
        h1 {
            font-size: 14px;
            font-weight: bold;
        }
    }
}

.ad-wrp {
    border: 1px solid #e5e5e5;
    background-color: #FFF;
    padding: 10px;
    margin-bottom: 8px;
    img {
        width: 100%;
    }
}

/* ------------------------------------------------------------------------------------------ Team Section Starts */

.team_ova {
    background: url(../images/common/light-grey-noise.gif);
    .container {
        margin: 40px auto 0px;
        padding: 40px 0px;
    }
    .section-heading {
        h2 {
            font-family: 'Jura', sans-serif;
        }
    }
}
.team_ova .line {
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #ccc;
    margin-bottom: 60px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
.team_ova .team-contents {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 25px;
}
.team_ova .picture {
    padding-left: 30px;
    padding-right: 30px;
}
.team_ova .picture img {
    width: 100%;
    height: auto;
    background: transparent;
    position: relative;
    margin-bottom: 25px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.team_ova .heading {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 400;
}
.team_ova .designation {
    font-size: 14px;
    font-family: 'Jura', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 3px;
}
.team_ova .smallline {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #ccc;
    margin-top: 3px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    width: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.team-contents .icon {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #000;
    color: #FFF;
    top: -60px;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 12px;
    padding-bottom: 12px;
    line-height: normal;
    margin-bottom: -60px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.team_ova .description {
    margin-bottom: 30px;
}
.team_ova .team-social a {
    margin-bottom: 100px;
    text-align: center;
    margin-left: 6px;
    margin-right: 6px;
    color: #000;
}
.team_ova .team-social a i {
}
/* Team Overlayzoom Starts */
.teamoverlayzoom {
    position: relative;
    display: block;
    margin: 0;
    text-decoration: none;
}
.teamoverlayzoom span i {
    color: #FFF;
}
.teamoverlayzoom span.zoom {
    position: absolute;
    nowhitespace: afterproperty;
    nowhitespace: afterproperty;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 22px;
    text-align: center; 
    background: rgb(0, 0, 0); /* RGBa with 0.6 opacity */
    background: rgba(0, 0, 0, 0.9);
    
}
.teamoverlayzoom span.zoom span {
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    width: 100%;
    height: 100%;
}
.teamoverlayzoom:hover span.zoom, .teamoverlayzoom:focus span.zoom {
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0); /* RGBa with 0.6 opacity */
    background: rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/* ------------------------------------------------------------------------------------------ Quotes Section Starts */

.ova_contact {
    padding: 40px 0px;
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    .container {
        padding: 0px;
    }
    h2 {
        font-family: 'Jura', sans-serif;
    }
}

.ova-social-media {
    padding: 40px 0px;
    color: #fff;
    background-color: #061519;
    .container {
        padding: 0px;
    }
    h2 {
        color: #FFF;
        font-family: 'Jura', sans-serif;
    }
}
.ova-social-media {
    background-attachment: fixed;
    /*background-image: url(../img/parallax/4.jpg);*/
    background-repeat: repeat-y;
    background-position: 50% 0;
}
.ova-social-media 
.ova-social-media .line {
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #fff;
    margin-bottom: 30px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
.ova-social-media .row {
    text-align: center;
}
.ova-social-media .desc {
    font-size: 22px;
    font-weight: 300;
}
.ova-social-media ul {
    padding: 0px;
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
}
.ova-social-media ul li {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 25px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    text-align: center;
    /*border: 3px solid #000;*/
    font-size: 24px;
    line-height: 50px;
    color: #000;
    margin-left: 4px;
    margin-right: 4px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.ova-social-media ul li a{
    color: #000;
}
.ova-social-media ul li:hover {
    opacity: .50;
    filter: alpha(opacity=50);
}

/* ------------------------------------------------------------------------------------------ Footer Section Starts */
section.ova_footer {
    padding-top: 50px;
    padding-bottom: 50px;
}
.ova_footer {
    background: url(../images/common/light-grey-noise.gif);
}
.ova_footer .row {
    text-align: center;
    font-family: 'Jura', sans-serif;
    font-size: 10px;
}
.ova_footer .line {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e5e5e5;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.ova_footer .desc {
    font-size: 18px;
    font-weight: 300;
}
.ova_footer .desc i {
    margin-bottom: 12px;
}

.ova_footer .fa-chevron-up{
    font-size: 18px;
}
/*-------------------------------------

/* ==============
    Global Footer
   ============== */

footer.global-footer {
}




/* 
 *  Core Owl Carousel CSS File
 *  v1.3.2
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
/* display none until init */
.owl-carousel{
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
    overflow: hidden;
    position: relative;
    width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}
    
.owl-carousel .owl-item{
    float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
    cursor: pointer;
}
.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

/*
*   Owl Carousel Owl Demo Theme 
*   v1.3.2
*/

.owl-theme .owl-controls {
    margin-top: 12px;
    text-align: center;
}
/* Styling Next and Prev buttons */
.owl-theme .owl-controls .owl-buttons .owl-prev {
    margin-top: 10px!important;
}
.owl-theme .owl-controls .owl-buttons .owl-next {
    margin-top: 10px!important;
}
.owl-theme .owl-controls .owl-buttons div {
    color: #000;
    display: inline-block;
    zoom: 1;
    *display: inline;
    font-size: 30px;
    line-height: 1.1;
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
    margin-top: 0px!important;
    margin-right: 4px;
    margin-bottom: 0px!important;
    margin-left: 4px;
    width: 40px;
    height: 40px;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
    text-decoration: none;
    color: #ccc;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
/* Styling Pagination*/

.owl-theme .owl-controls .owl-page {
    display: inline-block;
    zoom: 1;
 *display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 12px;
    filter: Alpha(Opacity=50);/*IE7 fix*/
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    /*background: #869791;*/
    background: #ccc;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
}
/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers {
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
/* preloading images */
.owl-item.loading {
    min-height: 150px;
    background: url(AjaxLoader.gif) no-repeat center center
}
