<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>
Options -Indexes
AuthUserFile /home/sites/heteml/users/d/i/m/dim/web/hidden-bmx.com/htdocs/.htpasswd
AuthGroupFile /dev/null
AuthName "Please enter your ID and password"
AuthType Basic
require valid-user 
RewriteEngine on
RewriteCond %{HTTP_HOST} ^(www\.hidden-bmx\.com)(:80)? [NC]
RewriteRule ^(.*) http://hidden-bmx.com/$1 [R=301,L]
order deny,allow
AddOutputFilter INCLUDES .html

